services:
  - type: web
    name: tikket-api
    env: node
    rootDir: apps/api
    buildCommand: cd ../.. && pnpm install && cd apps/api && npx prisma generate --schema=./prisma/schema.prisma && pnpm run build && npx prisma migrate deploy && npx prisma db seed
    startCommand: node dist/src/main.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        sync: false
